<ion-view  view-title="Lost 'N' Found" name="login-view" hide-back-button="{{hideBackButton}}" >
 <ion-footer-bar class="bar-calm">
  <button class=" button button-clear button-block icon ion-android-add-circle padding" ng-click="addItem()"></button>
</ion-footer-bar>
 
 
<ion-nav-bar class="bar bar-positive">
</ion-nav-bar>
<ion-nav-buttons side="left">
      <button class="icon ion-navicon button button-clear" ng-click="">
       
      </button>
    </ion-nav-buttons>
<ion-nav-buttons side="secondary">
      <button class="icon ion-gear-a button button-clear" ng-click="">
       
      </button>
    </ion-nav-buttons>
  <ion-header-bar no-tap-scroll="true" class="bar bar-subheader bar-calm ">
    <div class="button-bar">
      <a class="button button-icon icon ion-ios-search" ng-click="lost()">Lost</a>
  

       <a class="button button-icon icon ion-android-arrow-dropdown-circle" ng-click="found()">Found</a>
    </div>
      </ion-header-bar>
  

  <ion-content  overflow-scroll="false" class="has-footer has-subheader" has-bouncing="true">
 <a class="abc" no-tap-scroll="true">
    <form method="get" action="/search" id="searchbox5">
        <input id="search51" name="q" type="text" size="40" placeholder="Search..." />
    </form>
</a>
  <div class="list row-no-padding card" on-swipe-down="onSwipeDown()" ng-repeat = "item in items">

   <a class="button" ng-click="add(item)"  >
      <div class="item item-text-wrap item-body"><img src="{{item.userpic}}">
        <b>{{item.firstname}}</b> has found <b>{{item.itemname}}</b>    
   
        <br>
         <b>Item Description:</b>{{item.itemdesc}}<br>
            At : <b>{{item.address}}</b><br>
            Lost<b>{{item.time}}</b> ago  
         <i class="bet icon ion-trash-a"></i>
 
         
    </div></a>

<div class="fullscreen-bg"></div>
 
</ion-content-class>
<ion-view>
