<ion-view  view-title="Lost 'N' Found" name="login-view" hide-back-button="{{hideBackButton}}" >

<ion-nav-bar class="bar bar-positive" >
</ion-nav-bar>
<ion-nav-buttons side="left">
      <button class="icon ion-navicon button button-clear myclss" ng-click="">
       
      </button>
    </ion-nav-buttons>
<ion-nav-buttons side="secondary">
      <button class="icon ion-gear-a button button-clear" ng-click="">
       
      </button>
    </ion-nav-buttons>
  
 
  <ion-content class="has-header has-footer">
         
  <div class="bar bar-header bar-calm">
  	<div class="button-bar">
  <a class="button button-icon icon ion-ios-search" ng-click="lost()">Lost</a>
  <a class="button button-icon  icon ion-android-arrow-dropdown-circle" ng-click="found()">Found</a>
</div>
</div>

</ion-content-class>

 <div class="fullscreen-bg"></div>
 
<ion-view>